name: WCS

on:
  workflow_dispatch:

jobs:
  build-on-linux-x64:
    name: Build on Linux x64
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Download
        run: wget https://www.atnf.csiro.au/computing/software/wcs/WCS/wcslib-8.4.tar.bz2 -O wcslib.tar.bz2

      - name: Unzip
        run: bzcat wcslib.tar.bz2 | tar pvxf -

      - name: Configure
        working-directory: wcslib-8.4
        run: ./configure

      - name: Make
        working-directory: wcslib-8.4
        run: make build

      - name: Upload Artifact
        uses: actions/upload-artifact@v5
        with:
          name: libwcs-linux-x64
          path: |
            wcslib-8.4/C/libwcs.so.8.4
          retention-days: 7

  build-on-windows-x64:
    name: Build on Windows x64
    runs-on: windows-2025

    defaults:
      run:
        shell: msys2 {0}

    steps:
      - name: Set up MSYS2
        uses: msys2/setup-msys2@v2
        with:
          msystem: mingw64
          install: mingw-w64-x86_64-openssl

      - name: Install GCC
        run: pacman --noconfirm -S mingw-w64-x86_64-gcc diffutils make

      - name: Checkout
        uses: actions/checkout@v6

      - name: Download
        run: wget https://www.atnf.csiro.au/computing/software/wcs/WCS/wcslib-8.4.tar.bz2 -O wcslib.tar.bz2

      - name: Unzip
        run: bzcat wcslib.tar.bz2 | tar pvxf -

      - name: Configure
        working-directory: wcslib-8.4
        run: ./configure

      - name: Make
        working-directory: wcslib-8.4
        run: make build CFLAGS=-DNO_OLDNAMES

      - name: Upload Artifact
        uses: actions/upload-artifact@v5
        with:
          name: libwcs-win32-x64
          path: |
            wcslib-8.4/C/libwcs.dll.8.4
          retention-days: 7

  build-on-linux-arm64:
    name: Build on Linux ARM64
    runs-on: ubuntu-22.04-arm

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Download
        run: wget https://www.atnf.csiro.au/computing/software/wcs/WCS/wcslib-8.4.tar.bz2 -O wcslib.tar.bz2

      - name: Unzip
        run: bzcat wcslib.tar.bz2 | tar pvxf -

      - name: Configure
        working-directory: wcslib-8.4
        run: ./configure

      - name: Make
        working-directory: wcslib-8.4
        run: make build

      - name: Upload Artifact
        uses: actions/upload-artifact@v5
        with:
          name: libwcs-linux-arm64
          path: |
            wcslib-8.4/C/libwcs.so.8.4
          retention-days: 7
